@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #EDEDED;
	color: #333333;
	font-family: Ariel, Helvetica, sans-serif;
	}

.navbar-default{
	background-color: #9A12B3;
     
}	
.navbar-default .navbar-brand {
	
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	font-size: 30px;
	color: #FFFFFF;
    
}

.navbar-default .navbar-nav > li > a {
	
	font-family: Helvetica Neue, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}


.center {

 text-align: center;


}

.col-md-3:nth-child(4n+1){
	
	clear:left;
}

.col-md-6 {

	h3{ font-size: 45px;}
	h5{ font-size: 25px;}
	p{ font-size: 18px;}
}   












